# =========================
# Maven / Java
# =========================
target/
*.class
*.jar
*.war

# =========================
# Node.js / React
# =========================
node_modules/
dist/
build/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs
# =========================
*.log
logs/
error.log
full.log

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.*.local

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.swp
# Archives
*.zip